/* Libraries */
@import('reset.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,800);

/* Base  ***********************************************************/
html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 62.5%;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:active {
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

/* Header *********************************************************/
.main-header {
  overflow: auto;
  height: 80px;
  margin: 0 10%;
}

.main-header h1 {
  display: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3.6em;
  color: #FFF;
  line-height: 1.6em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  color: #363B48;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  float: left;
  margin-top: 20px;
}

.main-header nav li {
  float: right;
  margin: 28px 5px 0 5px;
}

/* Footer **********************************************************/
footer {
  background: #3E4452;
  text-align: center;
  color: #A7B3BF;
  font-size: 1.3em;
}

/* Forms ***********************************************************/
.form-field,
.form-input,
.form-label {
  display: inline-block;
}

.form-input {
  position: relative;
}

.form-label {
  margin-bottom: 10px;
}

.form-field.error input,
.form-field.error select {
  border: 2px solid #ED4043;
  color: #ED4043;
}

.form-error {
  position: absolute;
  width: 100%;
  bottom: 3em;
  padding: 6px 0;
}

.form-error p {
  margin: 0;
  display: inline-block;
  background: #ED4043;
  border-radius: 5px;
  padding: 0.2em 0.8em;
  font-size: 0.6em;
}

.form-error .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ED4043;
}

input[type="text"],
select {
  border: none;
  border-radius: 3px;
  background: #FFF;
  color: #666;
  height: 2em;
  font-size: 1.1em;
  margin: 0 5px;
  padding: 0.2em 10px;
  vertical-align: middle;
}

/* Buttons **********************************************************/
.btn {
  padding: 0 18px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  height: 3em;
  color: #FFF;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn.primary {
  background: #52BE7F;
}

/* Alerts **********************************************************/
.alert.alert-info {
  border-color: #3A87AD;
}

.alert.alert-error {
  border-color: #B94A48;
}

/* Main content *****************************************************/
#chart-wrapper,
#main form,
#extra-name-data,
#extra-year-data,
#name-examples,
#introduction,
#sharing,
footer {
  padding: 20px 20%;
}

/* Introduction */
#introduction {
  background: #363B48 url(/images/background-hero.png) no-repeat center center;
  text-align: center;
}

/* Name form */
#name-form {
  padding: 20px 0;
  background: #3E4452;
  color: #FFF;
  text-align: center;
  font-size: 2em;
}

#name-form .btn {
  font-size: 0.7em;
}

#name-form .help-icon {
  background: transparent url(/images/help-icon.png) no-repeat center center;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  opacity: 0.3;
  position: absolute;
  top: 13px;
  right: 20px;
}

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

/* Chart */
#chart-wrapper {
  display: none;
}

#main-chart {
  min-height: 400px;
  margin: 30px 0;
}

.jqplot-target {
  font-family: 'Open Sans', sans-serif;
}

.chart .tooltip-item:nth-child(n+1) {
  color: #FFF;
}

.chart .tooltip-item:nth-child(n+2) {
  color: #52BE7F;
}

.chart .jqplot-table-legend-swatch {
 width: 10px;
}

.chart .jqplot-highlighter-tooltip {
  border-radius: 3px;
  border: 0;
  padding: 2px 10px;
  background: #3E4452;
  font-size: 1.3em;
  color: #CCC;
  z-index: 10000;
}

#main-chart .jqplot-axis {
  font-size: 1.3em;
  color: #363B48;
}

#main.active #chart-wrapper {
  color: #363B48;
  display: block;
}

#main-chart .jqplot-table-legend {
  border: none;
  font-size: 1.1em;
}

#main-chart .jqplot-table-legend-swatch {
  border-top-width: 10px;
  border-bottom-width: 10px;
}

#main-chart .jqplot-table-legend-swatch-outline {
  border: none;
}

#main-chart .jqplot-table-legend tr:last-child {
  display: none;
}

/* Extra data */
#extra-name-data,
#extra-year-data {
  overflow: auto;
  display: none;
}

#extra-name-data header,
#extra-year-data header {
  line-height: 2em;
  margin-bottom: 55px;
}

#main.active #extra-name-data,
#main.active #extra-year-data {
  display: block;
}

/* Extra name data */
#extra-name-data li {
  float: left;
  width: 13%;
  text-align: center;
  margin: 10px 0;
  font-size: 1.2em;
  color: #363B48;
  margin: 0 6%;
}

#extra-name-data .number-info {
  font-size: 3em;
  display: block;
  margin: 15px 0;
}

#extra-name-data li:nth-child(1) .number-info { color: #52BE7F; }
#extra-name-data li:nth-child(2) .number-info { color: #3199D5; }
#extra-name-data li:nth-child(3) .number-info { color: #F0C340; }
#extra-name-data li:nth-child(4) .number-info { color: #EA4640; }

/* Extra year data */
#extra-year-data ul {
  margin: 20px 0;
  overflow: auto;
}

#extra-year-data .year-chart {
  width: 45%;
  height: 270px;
  float: left;
  margin: 40px 10% 40px 0;
}

#extra-year-data .year-chart:last-child {
  margin-right: 0;
}

#extra-year-data .year-chart .jqplot-table-legend {
  margin: 0;
  border: 0;
  text-transform: capitalize;
}

#extra-year-data .year-chart table.jqplot-table-legend {
  font-size: 1.3em;
  top: 5%;
  height: 80%;
}

/* Examples */
#main.active #name-examples {
  display: none;
}

#name-examples header {
  line-height: 3em;
  margin-bottom: 3em;
}

#name-examples {
  text-align: center;
}

#name-examples li {
  float: left;
  width: 30%;
  margin-right: 5%;
  margin-top: 14px;
  overflow: hidden;
}

#name-examples li:nth-child(3n+3) {
  margin-right: 0;
}

#name-examples ul {
  overflow: auto;
  margin-bottom: 30px;
}

#name-examples li a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 170px;
  line-height: 170px;
}

#name-examples li img {
  height: 170px;
}

#name-examples .example-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2.6em;
  width: 100%;
  font-weight: 800;
  text-transform: uppercase;
}

/* Sharing ****************************************************************/
#sharing {
  text-align: center;
  overflow: auto;
  display: none;
}

#sharing li {
  display: inline-block;
}

.with-name #sharing {
  display: block;
}

/* Media queries **********************************************************/
@media screen and (max-width: 1000px) {
  #chart-wrapper,
  #main form,
  #extra-name-data,
  #extra-year-data,
  #name-examples,
  #introduction,
  footer {
    padding: 16px 10%;
  }

  #extra-year-data .year-chart {
    margin-top: 10px;
  }

  #extra-name-data header, #extra-year-data header {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  #chart-wrapper,
  #main form,
  #extra-name-data,
  #extra-year-data,
  #name-examples,
  #introduction,
  footer {
    padding: 14px 5%;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 2em;
  }

  #main form .btn {
    clear: left;
    margin: 15px auto 0 auto;
    display: block;
  }

  #name-examples header {
    margin: 0 auto;
  }

  #extra-year-data .year-chart {
    margin: 10px auto;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #name-examples li,
  #name-examples li:last-child {
    width: 100%;
    margin: 10px auto;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .form-field {
    display: block;
    margin: 10px auto;
  }

  #extra-name-data li {
    width: 50%;
    margin: 0 auto;
  }

  .main-header {
    margin: 0 5%;
  }
}
